= render "common/smbranding"
.container.video-container
	- vid = VideoInfo.new("https://vimeo.com/"+@video.vimeoid)
	%h2.video-title
		= vid.title
	.video-wrapper.col-md-12
		%iframe{:src => "https://player.vimeo.com/video/"+@video.vimeoid+"?title=0&amp;byline=0&amp;portrait=0", :allowfullscreen => "true"}
	.video-info.col-md-12
		%p
			= vid.description.html_safe
			=link_to "Share on Facebook", "https://www.facebook.com/sharer/sharer.php?u=https://vimeo.com/"+@video.vimeoid



	
