= render "common/branding"
.container-wrap.pane
   .container
      .row
         #filters
            %a{"data-filter" => "*", "href" => "#"}
               show all
            %a{"data-filter" => ".interview", "href" => "#"}
               interviews
            %a{"data-filter" => ".finished", "href" => "#"}
               finished
      .row
         %div#video-container
            - @videos.each do |video|
               .video-card{"class" =>"#{video.video_type}"}
                  = link_to video.title, video_path(video), :class => "video-link"
.container-wrap.pane2
   .container
      .row#about
         %h2 About Sharing Spirit
.container-wrap.pane3
   .container#partners
      .row
         %h2 Partners
.container-wrap.pane4
   .container#contact
      .row
         %h2 Contact