= render "common/branding"
.container-wrap.pane
   .container
      .row#videos
         #filters
            %a{"data-filter" => "*"}
               show all
            %a{"data-filter" => ".interview"}
               interviews
            %a{"data-filter" => ".finished"}
               finished
      .row
         %div#video-container
            - @videos.each do |video|
               %a.video-card{"class" =>"#{video.video_type}"}
                  = link_to video.title, video_path(video)
                  = image_tag "video-thumbs/"+video.vimeoid+".jpg", :alt => "video thumb"
.container-wrap.pane2
   .container
      .row#about
         %h2 About Sharing Spirit
.container-wrap.pane3
   .container#partners
      .row
         %h2 Partners
.container-wrap.pane4
   .container#contact
      .row
         %h2 Contact