.container
   .row
      .col-xs-7.col-md-7
         %ul.mynav
            %li
               %a{:href => "#about"} About
            %li
               %a{:href => "#contact"} Partners
            %li
               %a{:href => "#contact"} Contact
         .full-title
            %h1
               Sharing
               %span Spirit
            %p.tagline
               A video archive of first nation's
               %em stories
               \&amp;
               %em knowledge
      .col-xs-5.col-md-5
         %img{:alt => "Sharing Spirit Logo", :src => "/assets/logo.png", :class => "img-responsive logo"}/