.container
   .row
      .col-xs-7.col-md-7
         %ul.mynav#lg-nav
            %li
               %a.about{:href => "#videos"} Videos
            %li
               %a.about{:href => "#about"} About
            %li
               %a{:href => "#partners"} Partners
            %li
               %a{:href => "#contact"} Contact
         .full-title
            %h1
               Sharing
               %span Spirit
            %p.tagline
               A video archive of first nation's
               %em stories
               \&amp;
               %em knowledge
      .col-xs-5.col-md-5
         =image_tag "logo.png", :alt => "Sharing Spirit Logo", :class => "img-responsive logo"