.container
   .row
      .col-xs-6
         %h2.page-title
            = @pageTitle
      .col-xs-4
         %h1.sm Sharing <span>Spirit</span>
         %ul.mynav#sm-nav
            %li
               = link_to "Home", root_path
            %li
               %a{:href => "/#videos"} Videos
            %li
               %a{:href => "/#about"} About
            %li
               %a{:href => "/#partners"} Partners
            %li
               %a{:href => "/#contact"} Contact
      .col-xs-2
         %img{:src => "/assets/logo-sm.png", :class => "sm-logo"}
         =image_tag "logo-sm.png", :alt => "Sharing Spirit Logo", :class => "sm-logo"  
      