.container
   .row
      .col-xs-6
         %h2
            = @pageTitle
      .col-xs-4
         %h1.sm Sharing <span>Spirit</span>
         %ul.mynav#sm-nav
            %li
               %a{:href => "/"} Home
            %li
               %a{:href => "about"} About
            %li
               %a{:href => "partners"} Partners
            %li
               %a{:href => "contact"} Contact
      .col-xs-2
         %img{:src => "/assets/logo-sm.png", :class => "sm-logo"}  
      