.container-wrap.bg
   .container
      .row.sm-brand
         .col-xs-1
            =link_to image_tag("logo-sm.png", :alt => "Sharing Spirit Logo", :class => "sm-logo"), root_path 
         .col-xs-5
            %h1.sm Sharing <span>Spirit</span>
         .col-xs-6
            %ul.mynav#sm-nav
               %li
                  = link_to "Home", root_path
               %li
                  %a{:href => "/#videos"} Videos
               %li
                  %a{:href => "/#about"} About
               %li
                  %a{:href => "/#partners"} Partners
               %li
                  %a{:href => "/#contact", :class => "last"} Contact
    
      